{namespace n=GeorgRinger\News\ViewHelpers}
{namespace m=CDG46\NewsGabarits\ViewHelpers}
<f:layout name="General" />
<!--
    =====================
        Templates/News/List.html
-->
<f:section name="content">
    <f:if condition="{news}">
        <f:then>
            <f:switch expression="{settings.templateLayout}">
                <f:case value="100">
                    <!-- SLIDER -->
                    <div class="wrapper-slider">
                        <div id="twbs-carousel-{contentObjectData.uid}" class="carousel slide" data-ride="carousel" data-interval="false">
                           <!-- Indicators -->
                           <ol class="carousel-indicators">
                               <f:for each="{news}" as="newsItem" iteration="iterator">
                                   <li data-target="#twbs-carousel-{contentObjectData.uid}" data-slide-to="{iterator.index}"{f:if(condition:iterator.isFirst, then:' class="active"')}></li>
                               </f:for>
                           </ol>
                           <!-- Indicators -->
                           <!-- Wrapper for slides -->
                           <div class="carousel-inner">
                                <f:for each="{news}" as="newsItem" iteration="iterator">
                                    <div class="item{f:if(condition:iterator.isFirst, then:' active')}">
                                        <f:render partial="List/ItemCarousel" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                    </div>
                                </f:for>
                            </div>
                            <!-- Controls -->
                            <a href="#twbs-carousel-{contentObjectData.uid}" role="button" data-slide="prev">
                                <i class="fa fa-angle-left fa-2x btn-prev"></i>
                            </a>
                            <a href="#twbs-carousel-{contentObjectData.uid}" role="button" data-slide="next">
                                <i class="fa fa-angle-right fa-2x btn-next"></i>
                            </a>
                        </div>
                    </div>
                    <!-- SLIDER END-->
                </f:case>
                <f:case value="200">
                    <div id="owl-ortfolio-item-{contentObjectData.uid}" class="owl-carousel">
                        <f:for each="{news}" as="newsItem" iteration="iterator">
                            <div class="item{f:if(condition:iterator.isFirst, then:' active')}">
                                <f:render partial="List/ItemMultipleSlides" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                            </div>
                        </f:for>
                    </div>
                </f:case>
                <f:case value="500">
                    <!-- Carousel Background -->
                    <div id="background-carousel">
                        <div id="twbs-carousel-BackgroundCarousel-{contentObjectData.uid}" class="carousel slide" data-ride="carousel" data-pause="false">
                            <div class="carousel-inner">
                                <f:for each="{news}" as="newsItem" iteration="iterator">
                                    <f:render partial="List/ItemBackgroundCarousel" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </f:for>
                            </div>
                        </div>
                    </div>
                    <!-- Fin Carousel Background -->
                </f:case>
                <f:case value="501">
                    <!-- Carousel Fulsize Header -->
                    <div id="twbs-carousel-FullsizeHeader-{contentObjectData.uid}" class="carousel slide" data-interval="4000">  
                        <div class="carousel-inner">
                            <f:for each="{news}" as="newsItem" iteration="iterator">
                                <div class="item{f:if(condition:iterator.isFirst, then:' active')}">
                                    <f:render partial="List/ItemFullsizeHeader" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </div>
                            </f:for>
                        </div>
                        <!-- Controls -->
                        <a class="left carousel-control" href="#twbs-carousel-FullsizeHeader-{contentObjectData.uid}" data-slide="prev">
                            <span class="fa fa-chevron-left fa-2x"></span>
                        </a>
                        <a class="right carousel-control" href="#twbs-carousel-FullsizeHeader-{contentObjectData.uid}" data-slide="next">
                            <span class="fa fa-chevron-right fa-2x"></span>
                        </a>  
                    </div>
                    <!-- Fin Carousel Fulsize Header -->
                </f:case>
                <f:case value="510">
                    <!-- Carousel News Carousel -->
                    <div id="twbs-carousel-NewsCarousel-{contentObjectData.uid}" class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <f:for each="{news}" as="newsItem" iteration="iterator">
                                <div class="item{f:if(condition:iterator.isFirst, then:' active')}">
                                    <f:render partial="List/ItemNewsCarousel" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </div><!-- End Item -->
                            </f:for>
                        </div><!-- End Carousel Inner -->

                    <ul class="list-group col-sm-4">
                        <f:for each="{news}" as="newsItem" iteration="iterator">
                            <li data-target="#twbs-carousel-NewsCarousel-{contentObjectData.uid}" data-slide-to="{iterator.index}" class="list-group-item {f:if(condition:iterator.isFirst, then:' active')}">
                                <h4>
                                    {newsItem.title}
                                </h4>
                            </li>
                        </f:for>
                    </ul>

                      <!-- Controls -->
                      <div class="carousel-controls">
                          <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                            <span class="fa fa-chevron-left fa-2x"></span>
                          </a>
                          <a class="right carousel-control" href="#myCarousel" data-slide="next">
                            <span class="fa fa-chevron-right fa-2x"></span>
                          </a>
                      </div>

                    </div>
                    <!-- Fin Carousel News Carousel -->
                </f:case>
                <f:case value="511">
                    <!-- Carousel Simple Caption -->
                    <div id="twbs-carousel-SimpleCaption-{contentObjectData.uid}" class="carousel slide" data-interval="4000">
                        <div class="carousel-inner">           
                            <f:for each="{news}" as="newsItem" iteration="iterator">
                                <div class="item{f:if(condition:iterator.isFirst, then:' active')}">
                                    <f:render partial="List/ItemSimpleCaption" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </div>
                            </f:for>
                        </div>          
                        <div class="carousel-controls">
                            <a class="left carousel-control" href="#twbs-carousel-SimpleCaption-{contentObjectData.uid}" data-slide="prev"><i class="fa fa-angle-double-left fa-lg"></i></a>
                            <a class="right carousel-control" href="#twbs-carousel-SimpleCaption-{contentObjectData.uid}" data-slide="next"><i class="fa fa-angle-double-right fa-lg"></i></a>
                        </div>
                    </div>
                    <!-- Fin Carousel Simple Caption -->
                </f:case>
                <f:case value="512">
                    <!-- Full-Feature Carousel -->
                    <div id="twbs-carousel-FullFeatureCarousel-{contentObjectData.uid}" class="carousel slide" data-interval="4000">
                        <div class="carousel-inner">
                            <f:for each="{news}" as="newsItem" iteration="iterator">
                                <div class="item{f:if(condition:iterator.isFirst, then:' active')}">
                                    <f:render partial="List/ItemFullFeatureCarousel" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </div>
                            </f:for>
                        </div>
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                           <f:for each="{news}" as="newsItem" iteration="iterator">
                               <li data-target="#twbs-carousel-FullFeatureCarousel-{contentObjectData.uid}" data-slide-to="{iterator.index}"{f:if(condition:iterator.isFirst, then:' class="active"')}></li>
                           </f:for>
                        </ol>
                        <!-- Indicators -->
                        <!-- Controls -->
                        <div class="carousel-controls">
                            <a class="carousel-control left" href="#twbs-carousel-FullFeatureCarousel-{contentObjectData.uid}" data-slide="prev">
                                <span class="fa fa-angle-double-left"></span>
                            </a>
                            <a class="carousel-control right" href="#twbs-carousel-FullFeatureCarousel-{contentObjectData.uid}" data-slide="next">
                                <span class="fa fa-angle-double-right"></span>
                            </a>
                        </div>
                    </div>
                    <!-- Fin Full-Feature Carousel -->
                </f:case>
                <f:case value="513">
                    <!-- Carousel Thumbnail Navigation -->
                    <div class="carousel slide article-slide" id="twbs-carousel-ThumbnailNavigation-{contentObjectData.uid}">
                        <div class="carousel-inner cont-slider">
                            <f:for each="{news}" as="newsItem" iteration="iterator">
                                <div class="item{f:if(condition:iterator.isFirst, then:' active')}">
                                    <f:render partial="List/ItemThumbnailNavigation" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </div>
                            </f:for>
                            <!-- Indicators -->
                            <ol class="carousel-indicators visible-lg visible-md">
                                <f:for each="{news}" as="newsItem" iteration="iterator">
                                    <li data-target="#twbs-carousel-ThumbnailNavigation-{contentObjectData.uid}" data-slide-to="{iterator.index}"{f:if(condition:iterator.isFirst, then:' class="active"')}>
                                        <f:render partial="List/ItemThumbnailNavigation" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                    </li>
                                </f:for>
                            </ol>
                            <!-- Indicators -->
                        </div>
                    </div>
                    <!-- Fin Carousel Thumbnail Navigation -->
                </f:case>
                <f:case value="520">
                    <!-- Carousel Simple Indicators
                    ================================================== -->
                    <div id="twbs-carousel-SimpleIndicators-{contentObjectData.uid}" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <f:for each="{news}" as="newsItem" iteration="iterator">
                                <li data-target="#twbs-carousel-SimpleIndicators-{contentObjectData.uid}" data-slide-to="{iterator.index}"{f:if(condition:iterator.isFirst, then:' class="active"')}></li>
                            </f:for>
                        </ol>
                        <!-- Indicators -->            
                        <div class="carousel-inner">
                            <f:for each="{news}" as="newsItem" iteration="iterator">
                                <div class="item{f:if(condition:iterator.isFirst, then:' active')}">
                                    <f:render partial="List/ItemSimpleIndicators" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </div>
                            </f:for>                                                                                  
                        </div>                                             
                    </div>
                    <!-- Fin Carousel Simple Indicators -->
                </f:case>
                <f:case value="521">
                    <!-- Carousel Simple Controls
                    ================================================== -->
                    <div id="twbs-carousel-SimpleControls-{contentObjectData.uid}" class="carousel slide" data-interval="4000">
                        <!-- Indicators -->
                            <ol class="carousel-indicators">
                                <f:for each="{news}" as="newsItem" iteration="iterator">
                                <li data-target="#twbs-carousel-SimpleControls-{contentObjectData.uid}" data-slide-to="{iterator.index}"{f:if(condition:iterator.isFirst, then:' class="active"')}></li>
                            </f:for>
                        </ol>
                        <!-- Indicators -->
                        <div class="carousel-inner">
                            <f:for each="{news}" as="newsItem" iteration="iterator">
                                <div class="item{f:if(condition:iterator.isFirst, then:' active')}">
                                    <f:render partial="List/ItemSimpleControls" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </div>
                            </f:for>
                        </div>
                    </div>
                    <!-- Fin Carousel Simple Controls -->
                </f:case>
                <f:case value="522">
                    <!-- Carousel Numbered Indicators
                    ================================================== -->
                    <div id="twbs-carousel-{contentObjectData.uid}" class="carousel slide">
                        <div class="carousel-inner">
                            <f:for each="{news}" as="newsItem" iteration="iterator">
                                <div class="item{f:if(condition:iterator.isFirst, then:' active')}">
                                    <f:render partial="List/ItemNumberedIndicators" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </div>
                            </f:for>
                        </div>
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <f:for each="{news}" as="newsItem" iteration="iterator">
                                <li data-target="#twbs-carousel-{contentObjectData.uid}" data-slide-to="{iterator.index}"{f:if(condition:iterator.isFirst, then:' class="active"')}></li>
                            </f:for>
                        </ol>
                    </div>
                    <!-- Fin Carousel Numbered Indicators -->
                </f:case>
                <f:case value="523">
                    <!-- Carousel Label Products
                    ================================================== -->
                    <div id="twbs-carousel-{contentObjectData.uid}" class="carousel slide" data-ride="carousel">
                    
                        <div class="carousel-inner">
                            <f:for each="{news}" as="newsItem" iteration="iterator">
                                <div class="item{f:if(condition:iterator.isFirst, then:' active')}">
                                    <f:render partial="List/ItemLabledProducts" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </div><!-- End Item -->
                            </f:for>                               
                        </div><!-- End Carousel Inner -->
                      
                        <div class="carousel-controls">
                            <a class="left carousel-control" href="#twbs-carousel-{contentObjectData.uid}" data-slide="prev"><span class="fa fa-chevron-left fa-2x"></span></a>
                            <a class="right carousel-control" href="#twbs-carousel-{contentObjectData.uid}" data-slide="next"><span class="fa fa-chevron-right fa-2x"></span></a>
                        </div>
                    </div>
                    <!-- Fin Carousel Label Products -->
                </f:case>
                <f:case value="524">
                    <!-- Carousel Header Controls 
                    ================================================== -->
                    <div id="twbs-carousel-{contentObjectData.uid}" class="carousel slide">
                        <div class="carousel-inner">
                            <f:for each="{news}" as="newsItem" iteration="iterator">
                                <div class="item{f:if(condition:iterator.isFirst, then:' active')}">
                                    <f:render partial="List/ItemHeaderControls" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </div>
                            </f:for>
                        </div>
                        <a class="carousel-control left" href="#twbs-carousel-{contentObjectData.uid}" data-slide="prev"><i class="fa fa-angle-double-left"></i></a>
                        <a class="carousel-control right" href="#twbs-carousel-{contentObjectData.uid}" data-slide="next"><i class="fa fa-angle-double-right"></i></a>                                   
                    </div>
                    <!-- Fin Carousel Header Controls -->
                </f:case>
                <f:case value="530">
                    <!-- Carousel Boxed Thumbnails
                    ================================================== -->            
                    <div id="twbs-carousel-{contentObjectData.uid}" class="carousel slide" data-interval="4000">
                        <div class="carousel-inner">
                            <f:for each="{news}" as="newsItem" iteration="iterator">
                                
                                <f:if condition="{iterator.isFirst}">
                                    <f:then>
                                        <div class="item{f:if(condition:iterator.isFirst, then:' active')}">
                                            <div class="row">
                                    </f:then>
                                </f:if>
                                
                                <div class="col-md-3">
                                    <f:render partial="List/ItemBoxedThumbnails" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </div>
                                
                                <f:comment>
                                    mod 4 == 0 => condition renvoi 0
                                    mod 4 != 0 => condition renvoi 1
                                </f:comment>
                                <f:if condition="{iterator.cycle} % 4">
                                    <f:then>
                                        <f:if condition="{iterator.isLast}">
                                            <f:then>
                                                    </div>
                                                </div>
                                            </f:then>
                                        </f:if>
                                    </f:then>
                                    <f:else>
                                        <f:if condition="{iterator.isLast}">
                                            <f:then>
                                                    </div>
                                                </div>
                                            </f:then>
                                            <f:else>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="row">
                                            </f:else>
                                        </f:if>
                                    </f:else>
                                </f:if>
                                
                            </f:for>
                        </div>
                        <a class="left carousel-control" href="#twbs-carousel-{contentObjectData.uid}" data-slide="prev"><i class="fa fa-chevron-left fa-2x"></i></a>
                        <a class="right carousel-control" href="#twbs-carousel-{contentObjectData.uid}" data-slide="next"><i class="fa fa-chevron-right fa-2x"></i></a>
                        
                        <ol class="carousel-indicators">
                            <f:for each="{news}" as="newsItem" iteration="iterator">
                                <f:cycle values="{0: '1', 1:'', 2:'', 3:''}" as="indicator">
                                    <f:if condition="{indicator} == 1">
                                        <f:then>
                                            <li data-target="#twbs-carousel-{contentObjectData.uid}" data-slide-to="<m:evalmath>{iterator.index}/4</m:evalmath>"{f:if(condition:iterator.isFirst, then:' class="active"')}></li>
                                        </f:then>
                                    </f:if>
                                </f:cycle>
                            </f:for>
                        </ol>                
                    </div>
                    <!-- Fin Carousel Boxed Thumbnails -->
                </f:case>
                <f:case value="531">
                    <!-- Carousel Product Slide
                    ================================================== -->            
                    <div id="twbs-carousel-{contentObjectData.uid}" class="carousel slide">
                        <div class="carousel-inner">
                            <f:for each="{news}" as="newsItem" iteration="iterator">
                            
                            
                                <f:if condition="{iterator.isFirst}">
                                    <f:then>
                                        <div class="item{f:if(condition:iterator.isFirst, then:' active')}">
                                            <div class="row">
                                    </f:then>
                                </f:if>
                                
                                 <div class="col-md-3">
                                    <div class="thumbnail">
                                        <f:render partial="List/ItemProductSlide" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                    </div>        
                                </div>
                                
                                <f:comment>
                                    mod 4 == 0 => condition renvoi 0
                                    mod 4 != 0 => condition renvoi 1
                                </f:comment>
                                <f:if condition="{iterator.cycle} % 4">
                                    <f:then>
                                        <f:if condition="{iterator.isLast}">
                                            <f:then>
                                                    </div>
                                                </div>
                                            </f:then>
                                        </f:if>
                                    </f:then>
                                    <f:else>
                                        <f:if condition="{iterator.isLast}">
                                            <f:then>
                                                    </div>
                                                </div>
                                            </f:then>
                                            <f:else>
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="row">
                                            </f:else>
                                        </f:if>
                                    </f:else>
                                </f:if>
                                
                            </f:for>
                        </div>
                        <a class="left carousel-control" href="#twbs-carousel-{contentObjectData.uid}" data-slide="prev"><i class="fa fa-chevron-left fa-2x"></i></a>
                        <a class="right carousel-control" href="#twbs-carousel-{contentObjectData.uid}" data-slide="next"><i class="fa fa-chevron-right fa-2x"></i></a>
                        
                        <ol class="carousel-indicators">
                            <f:for each="{news}" as="newsItem" iteration="iterator">
                                <f:cycle values="{0: '1', 1:'', 2:'', 3:''}" as="indicator">
                                    <f:if condition="{indicator} == 1">
                                        <f:then>
                                            <li data-target="#twbs-carousel-{contentObjectData.uid}" data-slide-to="<m:evalmath>{iterator.index}/4</m:evalmath>"{f:if(condition:iterator.isFirst, then:' class="active"')}></li>
                                        </f:then>
                                    </f:if>
                                </f:cycle>
                            </f:for>
                        </ol>                
                    </div>
                    <!-- Fin Carousel Product Slide -->
                </f:case>
                <f:case value="540">
                    <!-- Carousel Testimonial Carousel
                    ================================================== -->
                    <div id="twbs-carousel-{contentObjectData.uid}" class="carousel slide" data-interval="4000">
                        <!-- Indicators -->
                        <div class="carousel-inner">
                            <f:for each="{news}" as="newsItem" iteration="iterator">
                                <div class="item{f:if(condition:iterator.isFirst, then:' active')}">
                                    <f:render partial="List/ItemTestimonialCarousel" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </div>
                            </f:for>
                        </div>
                        <div class="carousel-controls">
                            <a class="carousel-control left" href="#twbs-carousel-{contentObjectData.uid}" data-slide="prev"><span class="fa fa-angle-double-left"></span></a>
                            <a class="carousel-control right" href="#twbs-carousel-{contentObjectData.uid}" data-slide="next"><span class="fa fa-angle-double-right"></span></a>
                        </div>
                    </div>
                    <!-- Fin Carousel Testimonial Carousel -->
                </f:case>
                <f:case value="541">
                    <!-- Carousel Tabbed Slider -->
                    <div id="twbs-carousel-{contentObjectData.uid}" class="carousel slide" data-ride="carousel">
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <f:for each="{news}" as="newsItem" iteration="iterator">
                                <div class="item{f:if(condition:iterator.isFirst, then:' active')}">
                                    <f:render partial="List/ItemTabbedSlider" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </div><!-- End Item -->
                            </f:for>
                        </div><!-- End Carousel Inner -->

                        <ul class="nav nav-pills nav-justified">
                            <f:for each="{news}" as="newsItem" iteration="iterator">
                                <li data-target="#twbs-carousel-{contentObjectData.uid}" data-slide-to="{iterator.index}"{f:if(condition:iterator.isFirst, then:' class="active"')}>
                                    <n:link newsItem="{newsItem}" settings="{settings}" class="" title="{newsItem.title}">
                                        <f:translate key="more-link"/>
                                    </n:link>
                                </li>
                            </f:for>
                        </ul>

                    </div>
                    <!-- Fin Carousel Tabbed Slider -->
                </f:case>
                <f:case value="542">
                    <!-- Carousel News Box
                    ================================================== -->
                    <div id="twbs-carousel-{contentObjectData.uid}" class="carousel slide" data-interval="4000">        
                        <div class="carousel-inner">
                            <f:for each="{news}" as="newsItem" iteration="iterator">
                                <div class="item{f:if(condition:iterator.isFirst, then:' active')}">
                                    <f:render partial="List/ItemNewsBox" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                </div>
                            </f:for>                                                                 
                        </div>
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <f:for each="{news}" as="newsItem" iteration="iterator">
                                <li data-target="#twbs-carousel-{contentObjectData.uid}" data-slide-to="{iterator.index}"{f:if(condition:iterator.isFirst, then:' class="active"')}></li>
                            </f:for>
                        </ol>                                                                 
                    </div>
                    <!-- Fin Carousel News Box -->
                </f:case>
                <f:case default="TRUE">
                    <f:if condition="{settings.hidePagination}">
                        <f:then>
                            <div class="row">
                            <div class="col-sm-12">
                                <div class="wrapper-post">
                                    <f:for each="{news}" as="newsItem" iteration="iterator">
                                        <f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                    </f:for>
                                </div>
                            </div>
                            </div>
                       </f:then>
                       <f:else>
                           <n:widget.paginate objects="{news}" as="paginatedNews" configuration="{settings.list.paginate}" initial="{offset:settings.offset,limit:settings.limit}">
                               <f:for each="{paginatedNews}" as="newsItem" iteration="iterator">
                                   <div class="row">
                                       <div class="col-sm-12">
                                            <div class="wrapper-post">
                                                <f:render partial="List/Item" arguments="{newsItem: newsItem,settings:settings,iterator:iterator}" />
                                            </div>
                                        </div>
                                    </div>
                                </f:for>
                            </n:widget.paginate>
                        </f:else>
                    </f:if>
                </f:case>
            </f:switch>
        </f:then>
        <f:else>
            <div class="no-news-found">
                <f:translate key="list_nonewsfound" />
            </div>
        </f:else>
    </f:if>
</f:section>
