{namespace n=GeorgRinger\News\ViewHelpers}
<f:layout name="General" />

<!--
    =====================
        Templates/Tag/List.html
-->

<f:section name="content">
    <f:if condition="{tags}">
        <div class="text-theme">
            <f:for each="{tags}" as="tag">
                <f:if condition="{tag.uid} == {overwriteDemand.tags}">
                    <f:then>
                        <f:link.page title="{tag.title}" pageUid="{settings.listPid}" additionalParams="{tx_news_pi1:{overwriteDemand:{tags: tag}}}" class="btn btn-xs btn-default active">
                            <i class="fa fa-tags"></i>{tag.title}
                        </f:link.page>
                    </f:then>
                    <f:else>
                        <f:link.page title="{tag.title}" pageUid="{settings.listPid}" additionalParams="{tx_news_pi1:{overwriteDemand:{tags: tag}}}" class="btn btn-xs btn-default">
                            <i class="fa fa-tags"></i>{tag.title}
                        </f:link.page>
                    </f:else>
                </f:if>
            </f:for>
        </div>
    </f:if>
</f:section>
