div[id^="twbs-carousel-SimpleControls-"] {
    .carousel-control.left,
    .carousel-control.right {
        background-image:none !important;
    }
    .carousel-control {
        background:	#39b3d7;
        color:#fff;
        padding: 4px 0;
        width:26px;
        top:auto;	
        left:auto;
        bottom:12px;
        opacity:0.85;
    }
    .carousel-control.right {
        right:10px;
    }
    .carousel-inner {
        > .item{
            height : auto;
            @media (min-width: @screen-md) {
              height: auto;
            }
        }
    }
}